<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>

		<%= stylesheet_link_tag 'blueprint/screen.css', 
          'blueprint/plugins/buttons/screen.css', 'calmat.css' %>
		<%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
		<%= javascript_include_tag :all %>
	</head>
	<body>
		<div class="container">
            <div id="hd">
            </div>
            <div id="bd">
              <%= yield %>
              <br/>
              <br/>
            </div>
			<div id="ft">
              <% if logged_as_admin? %>
                <%= render :partial => '/shared/admin_bar' %>
              <% end %>
              <% if logged_in? %>
                <%= render :partial => '/shared/user_bar' %>
              <% end %>
            </div>
		</div>
	</body>
</html>